extends base

block content
    each tour, index in tours
        if index % 3 === 0
            | <div class='row'>
        div.col-1-of-3
            div.card
                div.card__side.card__side--front
                    div.card__picture.card__picture--first
                    h4.card__heading
                        span.card__heading-span.card__heading-span--first=tour.name
                    div.card__details
                        div.card__details--stars(style=`--rating: ${tour.ratingsAverage};`)
                            p=`(${tour.ratingsQuantity}ratings)`
                        h4.card__details--heading.heading-quaternary=`${tour.difficulty} ${tour.duration}-DAYS TOUR`
                        div.card__details--text
                            p=tour.summary
                        div.card__details--features
                            div
                                div.col-1-of-2
                                    i.card__details--features--icon.icon-basic-geolocalize-01
                                    p=tour.startLocation.description
                                div.col-1-of-2
                                    i.card__details--features--icon.icon-basic-postcard-multiple
                                    -let date = tour.startDates[0].toString().split(' ');
                                    -date = `${date[1]} ${date[3]}`;
                                    p=date
                            div
                                div.col-1-of-2
                                    i.card__details--features--icon.icon-basic-flag2
                                    p=`${tour.locations.length} stops`
                                div.col-1-of-2
                                    i.card__details--features--icon.icon-basic-heart
                                    p=`${tour.maxGroupSize} people`
                div.card__side.card__side--back.card__side--back-first
                    div.card__cta
                        div.card__price-box
                            p.card__price-only
                                | only
                            p.card__price-value=`$${tour.price}`
                        a(href='#').btn.btn--white.btn--card
                            | Book now!
        if (index % 3 === 2 || index === tours.length - 1)
            | </div>