mixin tour-main()
    section.tour-main
        div.tour-main__container.tour-main__container--left
            div.tour-main__box
                h2.heading-secondary-tour.u-margin-bottom-small='Siema'
                div.tour-main__detail
                    svg.tour-main__icon
                        use(xlink:href='/img/icons.svg#icon-calendar')
                    span.tour-main__label Next date
                    span.tour-main__text August 2021
                div.tour-main__detail
                    svg.tour-main__icon
                        use(xlink:href='/img/icons.svg#icon-calendar')
                    span.tour-main__label Next date
                    span.tour-main__text August 2021
                div.tour-main__detail
                    svg.tour-main__icon
                        use(xlink:href='/img/icons.svg#icon-calendar')
                    span.tour-main__label Next date
                    span.tour-main__text August 2021
                div.tour-main__detail
                    svg.tour-main__icon
                        use(xlink:href='/img/icons.svg#icon-calendar')
                    span.tour-main__label Next date
                    span.tour-main__text August 2021
            div.tour-main__box
                h2.heading-secondary-tour.u-margin-bottom-small='Siema'
                div.tour-main__detail
                    img.tour-main__img(src='/img/users/user-19.jpg', alt='Lead guide')
                    span.tour-main__label Next date
                    span.tour-main__text August 2021
        div.tour-main__container.tour-main__container--right
            div.tour-main__box
                h2.heading-secondary-tour.u-margin-bottom-small='Siema'
                p.tour-main__desc='sieamsiewmewqeqwemqweqwmeqwmemqwemqwmeqwmemqwemqwmeqwmemqmeqwmemqwemwqmemwq'
                p.tour-main__desc='sieamsiewmewqeqwemqweqwmeqwmemqwemqwmeqwmemqwemqwmeqwmemqmeqwmemqwemwqmemwq'
                p.tour-main__desc='sieamsiewmewqeqwemqweqwmeqwmemqwemqwmeqwmemqwemqwmeqwmemqmeqwmemqwemwqmemwq'
                p.tour-main__desc='sieamsiewmewqeqwemqweqwmeqwmemqwemqwmeqwmemqwemqwmeqwmemqmeqwmemqwemwqmemwq'
                p.tour-main__desc='sieamsiewmewqeqwemqweqwmeqwmemqwemqwmeqwmemqwemqwmeqwmemqmeqwmemqwemwqmemwq'
                p.tour-main__desc='sieamsiewmewqeqwemqweqwmeqwmemqwemqwmeqwmemqwemqwmeqwmemqmeqwmemqwemwqmemwq'

