mixin tour-header(pic, name, duration, desc)
    block append head
        script(src='https://js.stripe.com/v3/')
    section.tour-header
        div.tour-header__overlay
        img(src=`/images/tours/${pic}` alt=name).tour-header__img
        div.tour-heading
            h1.tour-heading__heading
                span.tour-heading__heading-span.tour-heading__heading-span--first=name
            div.tour-heading__group
                div.tour-heading__detail
                    svg.tour-heading__icon
                        use(xlink:href='/img/icons.svg#icon-clock')
                    span.tour-heading__text=`${duration} days`
                div.tour-heading__detail
                    svg.tour-heading__icon
                        use(xlink:href='/img/icons.svg#icon-map-pin')
                    span.tour-heading__text=desc
            if user
                button#book-tour(data-tour-id=`${tour.id}`).tour-heading__button.btn.btn--card.btn--blue
                    | BOOKING TOUR!
            else
                a(href='/login').tour-heading__button.btn.btn--card.btn--blue
                    | LOGIN TO BOOKING!
    script(src="/js/stripe.js")